{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <table class="table display" style="width: 100%;">
        <thread>
            <th>Produkt</th>
            <th>Liczba opinii</th>
            <th>Liczbę wad</th>
            <th>Liczba zalet</th>
            <th>Średnia ocenę</th>
            <th>Pobierz</th>
        </thread>
        <tbody>
            <tr>
                <td>21983721</td>
                <td>231</td>
                <td>2</td>
                <td>7</td>
                <td>4.3</td>
                <td><button>json</button></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}